
.container-5 {
    text-align: center;
    width: 70%;
    margin: 10px auto;
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
    color: white;
}

.container-5::before {
    content: '';
    background: url('https://media.istockphoto.com/vectors/vector-realistic-isolated-green-poker-table-for-decoration-vector-id1299608766?k=20&m=1299608766&s=612x612&w=0&h=ZwlBIc1B5noT2uVZG9yighu1FLc5NoeWrk3KloKsdKM=') 
        no-repeat center center/cover;
    position: absolute;
    opacity: 0.9;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.flex-blackjack-row-1, 
.flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    justify-content: space-around;
}

#game-name {
    width: 32%;
    margin: 7px auto;
    padding: 10px;
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
    background: darkseagreen;
    color: darkslategrey;
}

h3 div {
    color: black;
}


.flex-blackjack-row-1 div {
    height: 300px;
    flex: 1;
    border: 2px solid darkseagreen;
    padding: 10px;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    margin-right: 5px;
}

.flex-blackjack-row-2 div {
    padding: 10px;
}

.flex-blackjack-row-3 {
    border: none;
}

table {
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
}

table, th, td {
    padding: 3px 33px;
    background: white;
    color: red;
    border-radius: 9px;
}